
###> symfony/framework-bundle ###
/.env.dev
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
# Symfony / PHP
/.env
/.idea
/.vscode

# Docker
docker/php/vendor/
docker/php/.env
