version: "3.9"

services:
    php:
        build:
            context: ./docker/php
            dockerfile: Dockerfile
        container_name: openfood-dashboard
        ports:
            - "8000:8000"
        volumes:
            - ./:/app
        environment:
            APP_ENV: dev
            APP_DEBUG: 1

    db:
        image: mysql:8.0
        container_name:  openfood-dashboard
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: symfony
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:
